@page "/alumnos/edit/{AlumnoId:int}"
@using LobosIguala.Data;
@using LobosIguala.Domain.Entities;
@using Microsoft.EntityFrameworkCore;
@inject SweetAlertService Swal

<PageTitle>Editar Alumno</PageTitle>
<h5>Editar Alumno</h5>


@if (this.Alumno is null && !EstaOcupado)

{
    <div class="alert alert-danger">
        El Alumno con el Id @this.AlumnoId no existe en la DataBase
    </div>

}
else
{



    <AlumnosForm Alumno="@this.Alumno"
                Categorias="@this.Categorias"
                EstaOcupado="@this.EstaOcupado"
                IsEdit="true"
                OnSubmit="HandleSubmit"
                OnCancel="NavegarAOverView" />



}

@if (MessageError is not null)
{
    <b />
    <div class="alert alert-danger">
        @this.MessageError
    </div>


}


@code {
    [Parameter]
    public int AlumnoId { get; set; }
    private Alumno? Alumno { get; set; } = new();
    private bool EstaOcupado { get; set; }


    public List<Categoria>? Categorias { get; set; }


    public bool IsEdit { get; set; }
    [Inject]

    public IDbContextFactory<LobosIgualaDbContext> ContextFactory { get; set; }
    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    [Inject]
    public StateContainer? stateContainer { get; set; }
    public string? MessageError { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        EstaOcupado = true;
        try
        {
            using var db = ContextFactory.CreateDbContext();
            this.Alumno = await db.Alumnos.AsNoTracking()
            .FirstOrDefaultAsync(emp => emp.Id.Equals(this.AlumnoId));
            this.Categorias = await db.Categorias.AsNoTracking().OrderBy(d => d.Nombre).ToListAsync();

        }
        finally
        {
            EstaOcupado = false;

        }



    }


    private async Task HandleSubmit(bool isValid)
    {
     


        if (this.Alumno is null || this.EstaOcupado || !isValid)
        {
            return;
        }
       

        EstaOcupado = true;

        try
        {
            using var db = ContextFactory?.CreateDbContext();
            await Swal.FireAsync(
                "Actualizado Exitosamente!",
                    "",
                    "success"
                );
            db.Update(this.Alumno);
            await db.SaveChangesAsync();
            NavegarAOverView();

        }
        catch (DbUpdateConcurrencyException)
        {


            MessageError = "El alumno fue modificado por otro usuario. Por favor recarga esta pagina para ver los ultimos cambios";

        }
        catch (Exception error)
        {
            MessageError = $"Ocurrrio un error {error.Message}";
        }
        finally
        {
            EstaOcupado = false;
        }
    }
    private void NavegarAOverView()
    {
        NavigationManager.NavigateTo($"/alumnos/list/{stateContainer.SistemaOverViewPage}");

    }


}
