@*@page "/employes/list"*@
@page "/pagos/list/{PaginaActual:int?}"
@using LobosIguala.Data;
@using LobosIguala.Domain.Entities;
@using LobosIgualaApp.Shared;
@using Microsoft.EntityFrameworkCore;
@inject SweetAlertService Swal


<PageTitle>Pagos</PageTitle>
<h5>Lista de Pagos</h5>

<div class="row">
    <div class="col-12 text-start mb-2">
        <a class="btn btn-primary"
           href="/pagos/add"
           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Agregar Nuevo
        </a>
    </div>
</div>

@*<a class="btn btn-danger"
   href="/alumnos/add"
   style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    <strong>Nuevo</strong>
</a>

*@



@if (Pagos == null)
{
    <div>
        Cargando informacion
    </div>
}
else
{





    <ul class="pagination m-3">
        <li class="page-item @(PaginaActual == 1 ? "disabled": " ")">
            <a class="page-link" href="pagos/list/@(PaginaActual -1)">&laquo;</a>

        </li>


        @for (int i = 1; i <= TotalPaginas; i++)
        {

            <li class="page-item @(PaginaActual == i ? "active": " ")">
                <a class="page-link" href="pagos/list/@i">@i</a>

            </li>


        }
        <li class="page-item @(PaginaActual == TotalPaginas ? "disabled": " ")">
            <a class="page-link" href="pagos/list/@(PaginaActual +1)">&raquo;</a>

        </li>


    </ul>

    <div class="card shadow">
        <div class="card-body">
            @* <div class="row">
        <div class="col-12 text-end mb-2">
        <a class="btn btn-secondary"
        href="/alumnos/add"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        Agregar Alumno
        </a>
        </div>

        </div>*@

            <div class="row">
                <div class="col-12">
                    <table class="table align-middle mb-0 bg-white">


                        <thead class="bg-danger" style="color:#ffffff" ;>

                            <tr>
                                <th>Alumno</th>
                                <th>Concepto de pago</th>
                                <th>Importe</th>
                                <th>Fecha de pago</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>



                        <tbody>
                            @foreach (var pago in Pagos)
                            {
                                <tr>
                                    <td>@pago.Alumno?.Nombre @pago.Alumno?.Apellidos</td>
                                    <td>@pago.Concepto</td>
                                    <td>@pago.Importe</td>
                                    <td>@pago.FechaDePago</td>
                                    <td class="btn-group-sm">
                                        <a href="" class="btn btn-outline-primary">Imprimir</a>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>

}




@code {


    public List<Pago>? Pagos { get; set; }
    [Parameter]
    public int? PaginaActual { get; set; }

    [Inject]
    public IDbContextFactory<LobosIgualaDbContext>? ContextFactory { get; set; }
    [Inject]
    public NavigationManager? NavigationManager { get; set; }
    [Inject]
    public StateContainer? stateContainer { get; set; }
    private const int itemporpagina = 4;
    public int TotalPaginas { get; set; }



    


    //protected override async Task OnInitializedAsync()

    //El onparameter es para refrescar automaticamente
    protected override async Task OnParametersSetAsync()
    {
        await LoadData();

    }
    private async Task HandleDelete(Pago pago)
    {

        //var isok = await JS.InvokeAsync<bool>("confirm", $"Deseas eliminar al usuario seleccionado?");











        var resultado = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "Deseas eliminar al alumno seleccionado?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, eliminar",
                CancelButtonText = "No, espera",
                ConfirmButtonColor = "#1669c9",
                CancelButtonColor = "#dc3545"
            });

        var isok = !string.IsNullOrEmpty(resultado.Value);

        if (isok)
        {

            try
            {
                using var Db = ContextFactory?.CreateDbContext();
                Db.Pagos.Remove(pago);
                await Db.SaveChangesAsync();

            }

            catch (DbUpdateConcurrencyException)
            {


            }

            await LoadData();
        }


    }

    private async Task LoadData()
    {
        int itemsporsaltar = 0;

        if (PaginaActual is null or < 1)
        {
            PaginaActual = 1;
        }
        else
        {

            //se multiplica para saltar los registros
            itemsporsaltar = (PaginaActual.Value - 1) * itemporpagina;


        }

        using var Db = ContextFactory?.CreateDbContext();
        var totalPagos = Db.Pagos.Count();
        TotalPaginas = totalPagos == 0 ? 1 : (int)Math.Ceiling((double)totalPagos / itemporpagina);




        if (PaginaActual > TotalPaginas)
        {
            NavigationManager?.NavigateTo($"pagos/list/{TotalPaginas}");
        }

        stateContainer.SistemaOverViewPage = PaginaActual.Value;
        this.Pagos = await Db.Pagos.Include(em => em.Alumno)
        .OrderBy(em => em.Alumno)
        .Skip(itemsporsaltar)
        .Take(itemporpagina)
        .ToListAsync();


    }

   








}